doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title NickBelzer.Me
        link(href='./css/main.sass', rel='stylesheet')
    body#body
        include ./site/menu
        include ./site/main
