
.highlight.text-column.header Engineer in the making.

.introduction.text-column
    p  Welcome to my personal website. This website serves as both my portfolio and a place to test new web technologies.

.text-column
    h4.header A bit about me

    p Since a very young age I have been interested in the abilities of the computer. Slowly discovering them I now find myself completing a <i>Master in Computer Science and Engineering</i> at <a href="https://www.tudelft.nl/en/", target="_blank">Delft University of Technology</a>.

    p Over the years I have been developing my skillset, expanding my field of knowledge by working on several different projects. Largest of which is a scheduler system designed for small restaurants.

    p Owner of <a href="https://exos-software.com" target="_blank">Exos</a>.

.projects-grid
    a.project(href="https://live.hackjunction.com/winners/", target="_blank")
        img(src="/assets/images/optimised/junction2018.png")
        .cover
            .title.header Table-DefendAR
            .description Facebook Spark AR challenge winner during Junction 2018

    a.project(href="https://exos-software.com", target="_blank")
        img(src="/assets/images/optimised/panta-rhei-scheduler.png")
        .cover
            .title.header ShiftR
            .description Scheduler system designed for small restaurants

    a.project(href="https://nickbelzer.me")
        img(src="/assets/images/optimised/personal-website.png")
        .cover
            .title.header NickBelzer.Me

    a.project(href="https://www.behance.net/gallery/24074729/Chesster", target="_blank")
        img(src="/assets/images/optimised/chesster.jpg")
        .cover
            .title.header Chesster
            .description An iOS chess game made in Unity3D


