.menu
    .left
        a.title.header(href='/') Nick Belzer
    .center
    .right
        a.menu-item.icon-button(href='https://github.com/MateyByrd')
            i(data-feather='github')
        a.menu-item.icon-button(href='https://www.linkedin.com/in/nick-belzer-103018130/')
            i(data-feather='linkedin')
        a.menu-item.icon-button(href='#', id='darkModeToggle')
            i(data-feather='sun')
